src/main/resources/cbody.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="userid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="jml"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="taskname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Controller"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="taskid">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="_1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="steps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nextstep" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="step">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="procidinstance">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="123"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nextstep">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="procidinstance"/>
				<xs:element ref="taskid"/>
				<xs:element ref="taskname"/>
				<xs:element ref="step"/>
				<xs:element ref="userid"/>
				<xs:element ref="bflag"/>
				<xs:element ref="completed"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="steps"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="completed">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2016-01-01 10:00:00"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bflag" type="xs:boolean"/>
</xs:schema>
